.homepage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
.freeBox__wMJpb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.section3__ufykD:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.section4__nL32F:global(.__wab_instance) {
  position: relative;
}
.section5__pd2Rs:global(.__wab_instance) {
  position: relative;
}
.section6__qy2Gq:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.section7__x8YFx:global(.__wab_instance) {
  position: relative;
}
.section8__tkRqd:global(.__wab_instance) {
  position: relative;
}
.section9___6OOMl:global(.__wab_instance) {
  position: relative;
}
.footer__bfoDo:global(.__wab_instance) {
  position: relative;
}
