.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-fr8MAwvcbLT0);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-2EHOdt7kiBPZ);
  font-family: var(--token-mayoHW6VgGpx);
  font-size: var(--token-slgga4cOmlT_);
  line-height: var(--token-rpQYqp7rZdiM);
  outline-style: none;
  text-decoration-line: none;
  font-weight: 600;
  border-radius: var(--token-n6m7Ryajvc_R);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-5vLOZDEs4Epb);
  outline-offset: 1px;
  outline-color: var(--token-fr8MAwvcbLT0);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-0KvOhNxDnzY4);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-brEHFa-2v5Fl);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-pBeBPGhC009v);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-Nf59yqD9Dnms);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-cfdJQqZekvYS);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-a4rnD2FiuKlQ);
  font-size: var(--token-slgga4cOmlT_);
  column-gap: var(--token-5vLOZDEs4Epb);
  row-gap: 0px;
  border-radius: var(--token-47PTTIfav528);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-slgga4cOmlT_);
  line-height: var(--token-a4rnD2FiuKlQ);
  column-gap: var(--token-47PTTIfav528);
  row-gap: 0px;
  border-radius: var(--token-47PTTIfav528);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-iVuv14d_9PNJ);
  line-height: var(--token-s1DRCR9kaD80);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-iVuv14d_9PNJ);
  line-height: var(--token-s1DRCR9kaD80);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-ShR07UXIaXXO);
  border-radius: var(--token-n6m7Ryajvc_R);
}
.softBackgroundcolor_neutral {
  background: var(--token-Jqais--r3rkN);
}
.softBackgroundcolor_muted {
  background: var(--token-kX0si0LOBUi8);
}
.softBackgroundcolor_success {
  background: var(--token-irE5cFWJ88vp);
}
.softBackgroundcolor_warning {
  background: var(--token-pmnjP4MMCRWg);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-pZ2nZpn2f9Wb);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-n6m7Ryajvc_R);
  border: 0px solid var(--token-I13oqYGkzXEP);
}
.bordercolor_neutral {
  border-color: var(--token-Bbkj39HUS_An);
}
.bordercolor_muted {
  border-color: var(--token-JNWxILBIbRRh);
}
.bordercolor_success {
  border-color: var(--token-UpblVCvr7dD3);
}
.bordercolor_warning {
  border-color: var(--token-jdNNVI2_jVQV);
}
.bordercolor_errorDestructive {
  border-color: var(--token-ZTBL6KOD0gPY);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-n6m7Ryajvc_R);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-5SjrMqjDBxia);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-pwZa-jpsCllg);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-YwT76NsGNOOV);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__zYoo1 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-n6m7Ryajvc_R) var(--token-ZvfNLEc4v4FB);
}
.freeBox__zYoo1 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-n6m7Ryajvc_R));
  width: calc(100% + var(--token-n6m7Ryajvc_R));
}
.freeBox__zYoo1 > :global(.__wab_flex-container) > *,
.freeBox__zYoo1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zYoo1 > :global(.__wab_flex-container) > picture > img,
.freeBox__zYoo1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-n6m7Ryajvc_R);
}
.freeBoxsize_extraSmall__zYoo1TOmg {
  padding: var(--token-47PTTIfav528) var(--token-n6m7Ryajvc_R);
}
.freeBoxsize_small__zYoo1La9Np {
  padding: var(--token-n6m7Ryajvc_R) var(--token-2EHOdt7kiBPZ);
}
.freeBoxsize_large__zYoo1Lm43E {
  padding-top: var(--token-47PTTIfav528);
  padding-bottom: var(--token-47PTTIfav528);
}
.freeBoxsize_extraLarge__zYoo1BbKpq {
  padding-left: var(--token-PwCfzN6xvuZd);
  padding-right: var(--token-PwCfzN6xvuZd);
}
.freeBoxroundedFull__zYoo1Pl5Li {
  padding-right: var(--token-PwCfzN6xvuZd);
  padding-left: var(--token-PwCfzN6xvuZd);
}
.freeBox__ax8P {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__ax8Py1JFu {
  display: flex;
}
.slotTargetStart {
  color: var(--token-70ODeEO-YEIi);
}
.slotTargetStartcolor_neutral {
  color: var(--token-QJ5FAedYYDUi);
}
.slotTargetStartcolor_muted {
  color: var(--token-s7ctaf6kJt15);
}
.slotTargetStartcolor_success {
  color: var(--token-PqJXOBRkOnjT);
}
.slotTargetStartcolor_warning {
  color: var(--token-0DjxWc77ouBA);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-0-khjkul8Cjt);
}
.slotTargetStarttype_soft {
  color: var(--token-2S3KJRy3xPhP);
}
.slotTargetStarttype_bordered {
  color: var(--token-2S3KJRy3xPhP);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-slgga4cOmlT_);
}
.slotTargetStartsize_small {
  font-size: var(--token-slgga4cOmlT_);
}
.slotTargetStartsize_large {
  font-size: var(--token-iVuv14d_9PNJ);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-iVuv14d_9PNJ);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-s11ahMhGzuXo);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-s11ahMhGzuXo);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-y5iGG5-MKF3M);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-y5iGG5-MKF3M);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-aYIdgyxiLsSi);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-aYIdgyxiLsSi);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-Flcncy1fwTlG);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-Flcncy1fwTlG);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-kzqLz0302Heg);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-kzqLz0302Heg);
}
.svg__dORxJ {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-70ODeEO-YEIi);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-QJ5FAedYYDUi);
}
.slotTargetLabelcolor_muted {
  color: var(--token-s7ctaf6kJt15);
}
.slotTargetLabelcolor_success {
  color: var(--token-PqJXOBRkOnjT);
}
.slotTargetLabelcolor_warning {
  color: var(--token-0DjxWc77ouBA);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-0-khjkul8Cjt);
}
.slotTargetLabeltype_soft {
  color: var(--token-2S3KJRy3xPhP);
}
.slotTargetLabeltype_bordered {
  color: var(--token-2S3KJRy3xPhP);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-s11ahMhGzuXo);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-y5iGG5-MKF3M);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-s11ahMhGzuXo);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-aYIdgyxiLsSi);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-y5iGG5-MKF3M);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-Flcncy1fwTlG);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-aYIdgyxiLsSi);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-kzqLz0302Heg);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-Flcncy1fwTlG);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-kzqLz0302Heg);
}
.text__w31Vv {
  white-space: pre;
}
.freeBox___93Fkr {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___93Fkrc0Ir {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-70ODeEO-YEIi);
}
.slotTargetEndcolor_neutral {
  color: var(--token-QJ5FAedYYDUi);
}
.slotTargetEndcolor_muted {
  color: var(--token-s7ctaf6kJt15);
}
.slotTargetEndcolor_success {
  color: var(--token-PqJXOBRkOnjT);
}
.slotTargetEndcolor_warning {
  color: var(--token-0DjxWc77ouBA);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-0-khjkul8Cjt);
}
.slotTargetEndtype_soft {
  color: var(--token-2S3KJRy3xPhP);
}
.slotTargetEndtype_bordered {
  color: var(--token-2S3KJRy3xPhP);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-slgga4cOmlT_);
}
.slotTargetEndsize_small {
  font-size: var(--token-slgga4cOmlT_);
}
.slotTargetEndsize_large {
  font-size: var(--token-iVuv14d_9PNJ);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-iVuv14d_9PNJ);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-s11ahMhGzuXo);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-s11ahMhGzuXo);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-y5iGG5-MKF3M);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-y5iGG5-MKF3M);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-aYIdgyxiLsSi);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-aYIdgyxiLsSi);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-Flcncy1fwTlG);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-Flcncy1fwTlG);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-kzqLz0302Heg);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-kzqLz0302Heg);
}
.svg__iUcIz {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
