.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      var(--token-NRrxnc82eF_Z),
      var(--token-NRrxnc82eF_Z)
    ),
    url("/plasmic/theme_switcher/images/image3.png") 0% 0% / cover;
  position: relative;
  min-width: 0;
  padding: 139px 8px;
}
.freeBox__bR5Bt {
  width: 1350px;
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bR5Bt {
    width: 100%;
    min-width: 0;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___0AIe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 256px;
  height: 256px;
  box-shadow: 0px 0px 0px 16px var(--token-VWlkMx_M0iaS);
  flex-shrink: 0;
  border-radius: 999px;
}
.img > picture > img {
  object-fit: cover;
}
.column__sYyVg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__op2CI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.testimonialText {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-MXiMFqHocE9C);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .testimonialText {
    max-width: 100%;
    font-size: 30px;
  }
}
.position {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-MXiMFqHocE9C);
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  padding-top: 24px;
  min-width: 0;
}
