.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 50px 8px;
  border-bottom: 1px solid #d2d2d2;
}
.columns__kzoH {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1300px;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__kzoH > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
.columns__kzoH > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__kzoH > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kzoH {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kzoH > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___74LVs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.footerLogo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.logo2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 300px;
}
.logo2 > picture > img {
  object-fit: cover;
}
.column__x9VGo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3__lmqYs {
  color: var(--token-ipmmmr6Vn-Hd);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 10px;
  padding-top: 10px;
  min-width: 0;
}
.footerLink {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-ipmmmr6Vn-Hd);
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 0;
}
.footerLink2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-ipmmmr6Vn-Hd);
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 0;
}
.column__mjxQm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3___3AZ8H {
  color: var(--token-ipmmmr6Vn-Hd);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 1.2;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 10px;
  padding-top: 10px;
  min-width: 0;
}
.footerLink4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-ipmmmr6Vn-Hd);
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 0;
}
.footerLink5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-ipmmmr6Vn-Hd);
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 0;
}
.freeBox___4Sgye {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1300px;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.columns__lKlQ5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__lKlQ5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns__lKlQ5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lKlQ5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lKlQ5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oZHvt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.copyRight {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-ipmmmr6Vn-Hd);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
.column__gBCnk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.socialIcons {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.socialIcons > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.socialIcons > :global(.__wab_flex-container) > *,
.socialIcons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.socialIcons > :global(.__wab_flex-container) > picture > img,
.socialIcons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.link__a8SQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.twitter {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.twitter > picture > img {
  object-fit: cover;
}
.link__s1Rhh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.facebook {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.facebook > picture > img {
  object-fit: cover;
}
.link___09OzE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.youtube {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.youtube > picture > img {
  object-fit: cover;
}
.link__csKQg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___0AbDg {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.vimeo {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
}
.vimeo > picture > img {
  object-fit: cover;
}
